.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting
/.backups/pom.xml;2
/.backups/pom.xml;3
/.backups/pom.xml;4
/.backups/pom.xml;5
/.backups/pom.xml;6
/.backups/pom.xml;7
/.backups/pom.xml;8
/src/main/groovy/org/pittsburghtank/groovy_utils/fct/.backups/compose.groovy;1
/src/main/groovy/org/pittsburghtank/groovy_utils/fct/.backups/compose.groovy;2
/src/main/groovy/org/pittsburghtank/groovy_utils/inject/.backups/inject_expr.groovy;1
/src/main/groovy/org/pittsburghtank/groovy_utils/inject/.backups/inject_expr.groovy;2
/src/main/groovy/org/pittsburghtank/groovy_utils/inject/.backups/inject_expr.groovy;3
/src/main/groovy/org/pittsburghtank/groovy_utils/inject/.backups/inject_expr.groovy;4
/src/main/groovy/org/pittsburghtank/groovy_utils/monad/.backups/Monad.groovy;10
/src/main/groovy/org/pittsburghtank/groovy_utils/monad/.backups/Monad.groovy;11
/src/main/groovy/org/pittsburghtank/groovy_utils/monad/.backups/Monad.groovy;12
/src/main/groovy/org/pittsburghtank/groovy_utils/monad/.backups/Monad.groovy;13
/src/main/groovy/org/pittsburghtank/groovy_utils/monad/.backups/Monad.groovy;14
/src/main/groovy/org/pittsburghtank/groovy_utils/monad/.backups/Monad.groovy;15
/src/main/groovy/org/pittsburghtank/groovy_utils/monad/.backups/Monad.groovy;16
/src/main/groovy/org/pittsburghtank/groovy_utils/monad/.backups/Monad.groovy;17
/src/main/groovy/org/pittsburghtank/groovy_utils/monad/.backups/Monad.groovy;18
/src/main/groovy/org/pittsburghtank/groovy_utils/monad/.backups/Monad.groovy;9
/src/test/groovy/org/pittsburghtank/groovy_utils/fct/.backups/composeTest.groovy;1
/src/test/groovy/org/pittsburghtank/groovy_utils/fct/.backups/composeTest.groovy;2
/src/test/groovy/org/pittsburghtank/groovy_utils/fct/.backups/curryTest.groovy;1
/src/test/groovy/org/pittsburghtank/groovy_utils/fct/.backups/curryTest.groovy;2
/src/test/groovy/org/pittsburghtank/groovy_utils/fct/.backups/curryTest.groovy;3
/src/test/groovy/org/pittsburghtank/groovy_utils/fct/.backups/curryTest.groovy;4
/src/test/groovy/org/pittsburghtank/groovy_utils/fct/.backups/curryTest.groovy;5
/src/test/groovy/org/pittsburghtank/groovy_utils/fct/.backups/curryTest.groovy;6
/src/test/groovy/org/pittsburghtank/groovy_utils/fct/.backups/curryTest.groovy;7
/src/test/groovy/org/pittsburghtank/groovy_utils/inject/.backups/injext_exprTest.groovy;1
/src/test/groovy/org/pittsburghtank/groovy_utils/inject/.backups/injext_exprTest.groovy;2
/src/test/groovy/org/pittsburghtank/groovy_utils/inject/.backups/injext_exprTest.groovy;3
/src/test/groovy/org/pittsburghtank/groovy_utils/inject/.backups/injext_exprTest.groovy;4
/src/test/groovy/org/pittsburghtank/groovy_utils/monad/.backups/MonadTest.groovy;25
/src/test/groovy/org/pittsburghtank/groovy_utils/monad/.backups/MonadTest.groovy;26
/src/test/groovy/org/pittsburghtank/groovy_utils/monad/.backups/MonadTest.groovy;27
/src/test/groovy/org/pittsburghtank/groovy_utils/monad/.backups/MonadTest.groovy;28
/src/test/groovy/org/pittsburghtank/groovy_utils/monad/.backups/MonadTest.groovy;29
/src/test/groovy/org/pittsburghtank/groovy_utils/monad/.backups/MonadTest.groovy;30
/src/test/groovy/org/pittsburghtank/groovy_utils/monad/.backups/MonadTest.groovy;31
/src/test/groovy/org/pittsburghtank/groovy_utils/monad/.backups/MonadTest.groovy;32
/src/test/groovy/org/pittsburghtank/groovy_utils/monad/.backups/MonadTest.groovy;33
/src/test/groovy/org/pittsburghtank/groovy_utils/monad/.backups/MonadTest.groovy;34
/src/test/groovy/org/pittsburghtank/groovy_utils/monad/.backups/MonadTest.groovy;35
/target/classes/org/pittsburghtank/groovy_utils/Example.class
/target/classes/org/pittsburghtank/groovy_utils/Helper.class
/target/classes/org/pittsburghtank/groovy_utils/fct/Compose$_closure1.class
/target/classes/org/pittsburghtank/groovy_utils/fct/Compose$_compose_closure2.class
/target/classes/org/pittsburghtank/groovy_utils/fct/Compose$_compose_closure2_closure3.class
/target/classes/org/pittsburghtank/groovy_utils/fct/Compose.class
/target/classes/org/pittsburghtank/groovy_utils/fct/Curry$_fnull_closure1.class
/target/classes/org/pittsburghtank/groovy_utils/fct/Curry$_fnull_closure1_closure2.class
/target/classes/org/pittsburghtank/groovy_utils/fct/Curry.class
/target/classes/org/pittsburghtank/groovy_utils/inject_expr/Inject$_injectCaseOf_closure1.class
/target/classes/org/pittsburghtank/groovy_utils/inject_expr/Inject$_injectCaseOf_closure2.class
/target/classes/org/pittsburghtank/groovy_utils/inject_expr/Inject$_injectCaseOf_closure3.class
/target/classes/org/pittsburghtank/groovy_utils/inject_expr/Inject.class
/target/classes/org/pittsburghtank/groovy_utils/inject_expr/_.class
/target/classes/org/pittsburghtank/groovy_utils/iter/inject_iter$_run_closure1.class
/target/classes/org/pittsburghtank/groovy_utils/iter/inject_iter$_run_closure1_closure3.class
/target/classes/org/pittsburghtank/groovy_utils/iter/inject_iter$_run_closure2.class
/target/classes/org/pittsburghtank/groovy_utils/iter/inject_iter.class
/target/classes/org/pittsburghtank/groovy_utils/monad/Functor.class
/target/classes/org/pittsburghtank/groovy_utils/monad/Monad.class
/target/classes/org/pittsburghtank/groovy_utils/monad/Monoid.class
/target/classes/org/pittsburghtank/groovy_utils/pattern/LoggingASTTransformation$_visit_closure1.class
/target/classes/org/pittsburghtank/groovy_utils/pattern/LoggingASTTransformation$_visit_closure2.class
/target/classes/org/pittsburghtank/groovy_utils/pattern/LoggingASTTransformation.class
/target/classes/org/pittsburghtank/groovy_utils/pattern/WithLogging.class
/target/classes/org/pittsburghtank/groovy_utils/pattern/pattern.class
/target/generated-sources/groovy-stubs/main/org/pittsburghtank/groovy_utils/Example.java
/target/generated-sources/groovy-stubs/main/org/pittsburghtank/groovy_utils/fct/Compose.java
/target/generated-sources/groovy-stubs/main/org/pittsburghtank/groovy_utils/fct/Curry.java
/target/generated-sources/groovy-stubs/main/org/pittsburghtank/groovy_utils/inject_expr/Inject.java
/target/generated-sources/groovy-stubs/main/org/pittsburghtank/groovy_utils/inject_expr/_.java
/target/generated-sources/groovy-stubs/main/org/pittsburghtank/groovy_utils/iter/inject_iter.java
/target/generated-sources/groovy-stubs/main/org/pittsburghtank/groovy_utils/monad/Functor.java
/target/generated-sources/groovy-stubs/main/org/pittsburghtank/groovy_utils/monad/Monad.java
/target/generated-sources/groovy-stubs/main/org/pittsburghtank/groovy_utils/monad/Monoid.java
/target/generated-sources/groovy-stubs/main/org/pittsburghtank/groovy_utils/pattern/LoggingASTTransformation.java
/target/generated-sources/groovy-stubs/main/org/pittsburghtank/groovy_utils/pattern/WithLogging.java
/target/generated-sources/groovy-stubs/main/org/pittsburghtank/groovy_utils/pattern/pattern.java
/target/generated-sources/groovy-stubs/test/injext_iterTest.java
/target/generated-sources/groovy-stubs/test/org/pittsburghtank/groovy_utils/ExampleTest.java
/target/generated-sources/groovy-stubs/test/org/pittsburghtank/groovy_utils/HelperTest.java
/target/generated-sources/groovy-stubs/test/org/pittsburghtank/groovy_utils/fct/ComposeTest.java
/target/generated-sources/groovy-stubs/test/org/pittsburghtank/groovy_utils/fct/FNullTest.java
/target/generated-sources/groovy-stubs/test/org/pittsburghtank/groovy_utils/inject_expr/CaseOfTest.java
/target/generated-sources/groovy-stubs/test/org/pittsburghtank/groovy_utils/monad/Just.java
/target/generated-sources/groovy-stubs/test/org/pittsburghtank/groovy_utils/monad/Maybe.java
/target/generated-sources/groovy-stubs/test/org/pittsburghtank/groovy_utils/monad/MonadTest.java
/target/generated-sources/groovy-stubs/test/org/pittsburghtank/groovy_utils/monad/Nothing.java
/target/generated-sources/groovy-stubs/test/patternTest.java
/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/target/surefire-reports/TEST-injext_iterTest.xml
/target/surefire-reports/TEST-org.pittsburghtank.groovy_utils.ExampleTest.xml
/target/surefire-reports/TEST-org.pittsburghtank.groovy_utils.HelperTest.xml
/target/surefire-reports/TEST-org.pittsburghtank.groovy_utils.fct.ComposeTest.xml
/target/surefire-reports/TEST-org.pittsburghtank.groovy_utils.fct.FNullTest.xml
/target/surefire-reports/TEST-org.pittsburghtank.groovy_utils.inject_expr.CaseOfTest.xml
/target/surefire-reports/TEST-org.pittsburghtank.groovy_utils.monad.MonadTest.xml
/target/surefire-reports/TEST-patternTest.xml
/target/surefire-reports/injext_iterTest.txt
/target/surefire-reports/org.pittsburghtank.groovy_utils.ExampleTest.txt
/target/surefire-reports/org.pittsburghtank.groovy_utils.HelperTest.txt
/target/surefire-reports/org.pittsburghtank.groovy_utils.fct.ComposeTest.txt
/target/surefire-reports/org.pittsburghtank.groovy_utils.fct.FNullTest.txt
/target/surefire-reports/org.pittsburghtank.groovy_utils.inject_expr.CaseOfTest.txt
/target/surefire-reports/org.pittsburghtank.groovy_utils.monad.MonadTest.txt
/target/surefire-reports/patternTest.txt
/target/test-classes/injext_iterTest.class
/target/test-classes/org/pittsburghtank/groovy_utils/ExampleTest.class
/target/test-classes/org/pittsburghtank/groovy_utils/HelperTest.class
/target/test-classes/org/pittsburghtank/groovy_utils/fct/ComposeTest.class
/target/test-classes/org/pittsburghtank/groovy_utils/fct/FNullTest.class
/target/test-classes/org/pittsburghtank/groovy_utils/inject_expr/CaseOfTest$_testClosureToClosure_closure1.class
/target/test-classes/org/pittsburghtank/groovy_utils/inject_expr/CaseOfTest$_testClosureToClosure_closure1_closure10.class
/target/test-classes/org/pittsburghtank/groovy_utils/inject_expr/CaseOfTest$_testClosureToClosure_closure1_closure11.class
/target/test-classes/org/pittsburghtank/groovy_utils/inject_expr/CaseOfTest$_testClosureToClosure_closure1_closure12.class
/target/test-classes/org/pittsburghtank/groovy_utils/inject_expr/CaseOfTest$_testClosureToClosure_closure1_closure13.class
/target/test-classes/org/pittsburghtank/groovy_utils/inject_expr/CaseOfTest$_testClosureToClosure_closure1_closure14.class
/target/test-classes/org/pittsburghtank/groovy_utils/inject_expr/CaseOfTest$_testClosureToClosure_closure1_closure15.class
/target/test-classes/org/pittsburghtank/groovy_utils/inject_expr/CaseOfTest$_testClosureToClosure_closure1_closure16.class
/target/test-classes/org/pittsburghtank/groovy_utils/inject_expr/CaseOfTest$_testClosureToClosure_closure1_closure17.class
/target/test-classes/org/pittsburghtank/groovy_utils/inject_expr/CaseOfTest$_testClosureToValue_closure2.class
/target/test-classes/org/pittsburghtank/groovy_utils/inject_expr/CaseOfTest$_testClosureToValue_closure2_closure18.class
/target/test-classes/org/pittsburghtank/groovy_utils/inject_expr/CaseOfTest$_testClosureToValue_closure2_closure19.class
/target/test-classes/org/pittsburghtank/groovy_utils/inject_expr/CaseOfTest$_testClosureToValue_closure2_closure20.class
/target/test-classes/org/pittsburghtank/groovy_utils/inject_expr/CaseOfTest$_testClosureToValue_closure2_closure21.class
/target/test-classes/org/pittsburghtank/groovy_utils/inject_expr/CaseOfTest$_testClosureToValue_closure2_closure22.class
/target/test-classes/org/pittsburghtank/groovy_utils/inject_expr/CaseOfTest$_testDefault2_closure7.class
/target/test-classes/org/pittsburghtank/groovy_utils/inject_expr/CaseOfTest$_testDefault2_closure7_closure38.class
/target/test-classes/org/pittsburghtank/groovy_utils/inject_expr/CaseOfTest$_testDefault_closure6.class
/target/test-classes/org/pittsburghtank/groovy_utils/inject_expr/CaseOfTest$_testDefault_closure6_closure37.class
/target/test-classes/org/pittsburghtank/groovy_utils/inject_expr/CaseOfTest$_testMixed_closure5.class
/target/test-classes/org/pittsburghtank/groovy_utils/inject_expr/CaseOfTest$_testMixed_closure5_closure31.class
/target/test-classes/org/pittsburghtank/groovy_utils/inject_expr/CaseOfTest$_testMixed_closure5_closure32.class
/target/test-classes/org/pittsburghtank/groovy_utils/inject_expr/CaseOfTest$_testMixed_closure5_closure33.class
/target/test-classes/org/pittsburghtank/groovy_utils/inject_expr/CaseOfTest$_testMixed_closure5_closure34.class
/target/test-classes/org/pittsburghtank/groovy_utils/inject_expr/CaseOfTest$_testMixed_closure5_closure35.class
/target/test-classes/org/pittsburghtank/groovy_utils/inject_expr/CaseOfTest$_testMixed_closure5_closure36.class
/target/test-classes/org/pittsburghtank/groovy_utils/inject_expr/CaseOfTest$_testNoDefaultIsOk_closure9.class
/target/test-classes/org/pittsburghtank/groovy_utils/inject_expr/CaseOfTest$_testNoDefault_closure8.class
/target/test-classes/org/pittsburghtank/groovy_utils/inject_expr/CaseOfTest$_testValueToClosure_closure3.class
/target/test-classes/org/pittsburghtank/groovy_utils/inject_expr/CaseOfTest$_testValueToClosure_closure3_closure23.class
/target/test-classes/org/pittsburghtank/groovy_utils/inject_expr/CaseOfTest$_testValueToClosure_closure3_closure24.class
/target/test-classes/org/pittsburghtank/groovy_utils/inject_expr/CaseOfTest$_testValueToClosure_closure3_closure25.class
/target/test-classes/org/pittsburghtank/groovy_utils/inject_expr/CaseOfTest$_testValueToClosure_closure3_closure26.class
/target/test-classes/org/pittsburghtank/groovy_utils/inject_expr/CaseOfTest$_testValueToClosure_closure3_closure27.class
/target/test-classes/org/pittsburghtank/groovy_utils/inject_expr/CaseOfTest$_testValueToClosure_closure3_closure28.class
/target/test-classes/org/pittsburghtank/groovy_utils/inject_expr/CaseOfTest$_testValueToValue_closure4.class
/target/test-classes/org/pittsburghtank/groovy_utils/inject_expr/CaseOfTest$_testValueToValue_closure4_closure29.class
/target/test-classes/org/pittsburghtank/groovy_utils/inject_expr/CaseOfTest$_testValueToValue_closure4_closure30.class
/target/test-classes/org/pittsburghtank/groovy_utils/inject_expr/CaseOfTest.class
/target/test-classes/org/pittsburghtank/groovy_utils/monad/Just.class
/target/test-classes/org/pittsburghtank/groovy_utils/monad/Maybe$_unit_closure1.class
/target/test-classes/org/pittsburghtank/groovy_utils/monad/Maybe.class
/target/test-classes/org/pittsburghtank/groovy_utils/monad/MonadTest.class
/target/test-classes/org/pittsburghtank/groovy_utils/monad/Nothing.class
/target/test-classes/patternTest.class
